.budget {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: lightgreen;
  padding: 10px;
  width: max-content;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {color: white;}